.relatorios-e-analises {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: darkblue;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color:orange;
  }
  body{
    background-color:black
  }
  
  .relatorios-e-analises h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .relatorios,
  .analises {
    margin-bottom: 40px;
  }
  
  .relatorios h2,
  .analises h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .relatorios ul,
  .analises ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .relatorios li,
  .analises li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #000000;
    border-radius: 4px;
  }
  
  .relatorios li:last-child,
  .analises li:last-child {
    margin-bottom: 0;
  }
  
  .relatorios h3,
  .analises h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .relatorios p,
  .analises p {
    font-size: 1rem;
    margin-bottom: 10px;
  }