.starRating {
  font-size: 30px; /* Tamanho das estrelas */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.star {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.filled {
  color: #ffd700; /* Cor das estrelas preenchidas */
}
